body{
    background-color: rgb(248, 229, 229); 
}
h1{
    padding-top: 5px;
    text-align: center;
}
.bakeries{
    display: flex;
    margin: 40px;

}
.bakery{
    margin: 15px;
    padding: 20px;
    background-color: rgb(250, 205, 205);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(199, 125, 125, 0.737);
    transition: transform 0.3sease , box-shadow 0.3sease;
}
.bakery:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0 , 0 , 0 , 0.15);
    cursor:pointer; 
}
h2{
    text-align: center;
}