body{
    text-align: center;
    background-color: rgb(248, 229, 229) ;
}
header{
    text-align: center;
    padding-top: 5px;
}
h2{
    text-align: center;
}
.drinks{
    display: flex;
    margin: 40px;
}
.drink{
    margin: 50px; 
    padding: 20px;
    background-color: rgb(250, 205, 205);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgb(199,125,125,0.737);
    transition: transform 0.3sease , box-shadow 0.3sease;
}
.drink:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0 , 0 , 0 , 0.15);
    cursor:pointer;
}